@font-face {
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/NotoSerif-Regular.ttf") format("truetype");
  font-family: "NotoSerif";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/NotoSerif-Italic.ttf") format("truetype");
  font-family: "NotoSerif";
  font-weight: 400;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
